body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    background-image: url(../Images/pexels-francesco-ungaro-998641.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* max-width: 800px;
    min-width: 280px;
    margin: auto; */
}

#buttons {
    text-align: center;
}


#getButton{
    
    width: 180px;
	height: 60px;
    border-radius: 20px;
    background-color: darkturquoise;
    transition: transform .4s ease .1s;
    font-size: 20px;
    font-weight: 500;
}

#getButton:hover{
    transition: transform .2s;
    transform: translateY(-10px);
}

.parent{
    display: grid;
}

.container, .earth-container{
    grid-area: 1/1;
}

.container{
    /* position: absolute;
    top: 200px; */
    /* border: 2px solid dimgray;
    background-color:aliceblue; */
    display: grid;
    padding: 2em;
    margin: auto;
    height: 300px;
    width: 300px;
    /* display: flex;
    flex-direction: column;  
    z-index: 2;  */
}
#apiData {
    /* border: 2px solid dimgray;
    background-color:aliceblue;
    padding: 2em;
    margin: 20px auto;
    height: 190px;
    display: flex;
    flex-direction: column; */
}

.flip-container{
    background-color: transparent;
    /* border: 5px solid lightgray; */
    border-radius: 10%;
    width: 300px;
    height: 300px;
    /* display: block; */
    margin:auto;
    perspective: 1000px;
}

.flip-inner{
    /* background-color: aliceblue; */
    border: 5px solid lightgray;
    border-radius: 20%;
    border: solid 5px lightgray;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-container:hover .flip-inner {
    transform: rotateY(180deg);
}

.flip-front, .flip-back {
    border: 5px solid lightgray;
    border-radius: 20%;
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-front {
    border: 5px lightgray;
    color: black;
}

.flip-back {
    border: 5px lightgray;
    color: white;
    transform: rotateY(180deg);
} 


img.user {
    border: 10px solid dimgray;
    background-color: dimgrey;
    border-radius: 40%;
    width: 240px;
    height: 240px;
    display: block;
    margin: auto;
}

h2.user{
    color:dimgray;
    text-align: center;
    margin: 5px;
}

h2.back{
    color:dimgray;
    text-align: left;
    margin: 15px;
}

p.back{
    color: dimgray;
    text-align: left;
    margin: 10px;
}

#loader{
    width: 100%;
    height: 100%;
    place-self: center;
    display: grid;
    place-items: center;
    /* flex-direction: column;
    align-content: center; */
    /* margin: auto; */
}

.spinner {
    /* display: flex;
    flex-direction: column; */
    /* place-self: center; */
    width: 128px;
    height: 128px;
    border: 10px solid;
    border-color: #0a9605 transparent #0a9605 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.earth-container{
    /* position: absolute; */
    top: 200px;
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
    margin: auto;
    /* z-index: 1; */

}

.earth {
    --d:600px;
    width: var(--d);
    height:var(--d);
    /* display:flex; */
    margin: 5px;
    border-radius: 50%;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
    background: 
      url(https://i.stack.imgur.com/3SLqF.jpg)
      0/auto 100%;
    animation: spin 10s linear infinite;
  }
  
  @keyframes spin {
    to {
      background-position:200% 0;
    }
  }

  