

/* body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  max-width: 800px;
  min-width: 280px;
  margin: auto;
} */

nav {
    display: flex;
    gap: 0.5rem;
  }
  
  a.nav {
    flex: 1;
    background-color: #706e6e;
    color: #fff;
    border: 1px solid;
    border-radius: 20px;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
  }
  
  a.nav:hover,
  a.nav:focus {
    background-color: #fff;
    color: #333;
  }

  a#active{
    background-color: #fff;
    color: #333;
  }
  