.image-container {
    width: 500px; /* Adjust the size as needed */
    height: 500px; /* Adjust the size as needed */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* center horizonally */
    margin: 20px auto;
    object-fit: contain;
    box-sizing: border-box;
    border: 2px dashed orangered;
    background-color: black;
    
}

.photo-fade {
    /* set viewport height and full width  */
    height: 100vh; 
    width: 100%;
    background-position: center;
    background-size: cover;
    
    /* transition: 5s; */
    position: relative;
    

    animation-name: animate;
    /* alternates the direction of animation after it completes */
    animation-direction: alternate;
    /* sets animation to be running */
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes animate {
    0% {
        background-image: url(../Images/defranced.png);
    }
    20% {
        background-image: url(../Images/smilingbucktooth.jpg);
    }
    40% {
        background-image: url(../Images/computerPart.jpg);
    }
    60% {
        background-image: url(../Images/bobcat.jpg);
    }
    80% {
        background-image: url(../Images/grizzly.jpg);
    }
    100% {
        background-image: url(../Images/trashcan.jpg);
    }
}

