/* .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}


.container {
  position: relative;
  background-color: transparent;
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  overflow: hidden;
  height: 600px;
  width: 800px;
  margin-top: 20px;
  margin: auto;
  border-radius: 20px;
} */


.dot {
  position: relative; 
  background-color: darkblue;
  width: 100px;
  height: 100px;
  /* makes a circle */
  border-radius: 50%;
  margin-top: 20px; 
  /* specifies a transition effect for all properties 
  for .75 seconds. The cubic-bezier function defines an easing curve for the transition */
  transition: all 0.75s cubic-bezier(.71, 0, .33, 1.56) 0ms;
}

.transition-spin-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
}

.transition-spin-container:hover .dot{
  transform: rotate(360deg);
  /* changes dot to a square by removing radius */
  border-radius: 0%;
  background: gold;

}


.flip-container{
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-box {
  background-color: transparent;
  width: 80%;
  height: 80%;
  /* width: 300px;
  height: 200px; */
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-front img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}


.links{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

a.link1 {
  color: #18272F;
  position: relative;
  text-decoration: none;
  font-size: 100px;
}

a.link1::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

a.link1:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.ball-container{
  height: 90%;
  width: 90%;
  /* border: solid 5px black; */
}

.ball-container-wrapper{
  width: 100%;
  height: 100%;
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ball{
  margin: 5px;
  width: 100px;
  height: 60px;
  position:relative;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  color: white;
  font-size: 15px;
}

#ball1{
  transition: all 2s ease;
  background-color: blue;
}
#ball2{
  transition: all 2s ease-in;
  background-color: red;
}
#ball3{
  transition: all 2s ease-out;
  background-color: green;
}

#ball4{
  transition: all 2s ease-in-out;
  background-color: purple;
}

#ball5{
  transition: all 2s linear;
  background-color: darkorange;
}

#ball6{
  transition: all 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  background-color: cyan;
}

.ball-container:hover #ball1{
  transform: translateX(650px);
}

.ball-container:hover #ball2{
  transform: translateX(650px);
}

.ball-container:hover #ball3{
  transform: translateX(650px);
}

.ball-container:hover #ball4{
  transform: translateX(650px);
}

.ball-container:hover #ball5{
  transform: translateX(650px);
}

.ball-container:hover #ball6{
  transform: translateX(650px)
}
